
<h1>Live by a different tune</h1> 

<h3>Phone Number: </h3>
<form action="/" method="post">
  <input type="text" name="phone" placeholder="Ex: 302-120-2308"><br><br>
  <input type="time" name="time">
  <input type="genre" name="genre" placeholder="Genre">
  <input type="submit" value="Submit">
</form>